<style>

div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

  body {
    background-image: url("Ebackground.jpg");
    background-color: #cccccc;
  }





  p,li, td,tr {

   color: black;
   font-weight: bold;
   font-size: 28px;

 }

 th {
   color: green;
   font-weight: bold;
   font-size: 35px;

 }

 a {
   color: red;
   font-weight: bold;
   font-size: 30px;
 }

 .header1 {
    color: black;
 }

 .header2 {
   color: blue;
 }

 .table {
   width: 100%;
 }
</style>
