/* alignment classes */
.float-left  {
	float: left;
	padding: 10px 20px 10px 0px;
}
.float-right {
	float: right;
	padding: 3px 6px 6px;
}

.float-left1  {
	float: left;
	padding: 5px 5px 5px 0px;
}
.float-right1 {
	float: right;
	padding: 3px 6px 6px;
}
.Stil14 {
	color: #333333;
	font-size: 12px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	line-height: 19px;
}
#apDiv100 {
	position:absolute;
	width:900px;
	height:152px;
	z-index:13;
	left: 0px;
	top: 0px;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #999999;
	background-image: none;
}

#apDiv101 {
	position:absolute;
	width:100px;
	height:100px;
	z-index:2;
	left: 772px;
	top: 27px;
	background-image: url(bilder/logo.png);
}

#apDiv102 {
	position:absolute;
	width:157px;
	height:19px;
	z-index:2;
	left: 16px;
	top: 5px;
}

#apDiv103 {
	position:absolute;
	width:708px;
	height:26px;
	z-index:4;
	left: 183px;
	top: 158px;
	border-bottom-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #999999;
}


#apDiv104 {
	position:absolute;
	width:302px;
	height:47px;
	z-index:3;
	left: 63px;
	top: 51px;
	background-image: none;
}





body {
	background-color: #EFEFEF;
}
  

a.cool:link {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #333333;
	background-color:#FFFFFF;
	width:140px;
	display: block;
} 

a.cool:visited {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #333333;
	background-color:#ffffff;
	width:140px;
	display: block;
} 

a.cool:active {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #666666;
	background-color:#ffffff;
	width:140px;
	display: block;
} 

a.cool:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #FFFFFF;
	background-color:#476C92;
	width:140px;
	padding-top: 6px;
	display: block;
}









a.overcool:link {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #3F548D;
	background-color:#ffffff;
	width:140px;
} 

a.overcool:visited {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px solid #999999;
	color: #3F548D;
	background-color:#ffffff;
	width:140px;
	display: block;
} 

a.overcool:active {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #3F548D;
	background-color:#ffffff;
	width:140px;
	display: block;
} 

a.overcool:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #000000;
	background-color:#B1BCDA;
	width:140px;
	padding-top: 6px;
	display: block;
}






a.cool1:link {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #000000;
	background-color:#CCCCCC;
	width:140px;
	display: block;
} 

a.cool1:visited {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #000000;
	background-color:#CCCCCC;
	width:140px;
	display: block;
} 

a.cool1:active {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #000000;
	background-color:#CCCCCC;
	width:140px;
	display: block;
} 

a.cool1:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #000000;
	background-color:#D2D0D5;
	width:140px;
	padding-top: 6px;
	display: block;
}


a.cool2:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #303030;
	display: block;
} 

a.cool2:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #303030;
	width: 500px;
	display: block;
} 

a.cool2:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px none #999999;
	color: #303030;
	width: 500px;
	display: block;
} 

a.cool2:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px none #999999;
	color: #303030;
	width: 500px;
	display: block;
}





a.cool22:link {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #3F548D;
	background-color:#FFFFFF;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool22:visited {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #3F548D;
	background-color:#FFFFFF;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool22:active {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #3F548D;
	background-color:#FFFFFF;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool22:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	padding-top: 6px;
	text-indent: 20px;
	display: block;
}



a.cool222:link {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool222:visited {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool222:active {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool222:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	padding-top: 6px;
	text-indent: 20px;
	display: block;
}


a.cool2222:link {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#516988;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool2222:visited {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#516988;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool2222:active {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#516988;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool2222:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #FFFFFF;
	background-color:#6581A3;
	width:140px;
	padding-top: 6px;
	text-indent: 20px;
	display: block;
}


a.cool22222:link {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	text-indent: 30px;
	display: block;
} 

a.cool22222:visited {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool22222:active {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool22222:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #FFFFFF;
	background-color:#5F7DA0;
	width:140px;
	padding-top: 6px;
	text-indent: 20px;
	display: block;
}





a.cool222222:link {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	display: block;
	text-indent: 20px;
} 

a.cool222222:visited {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	display: block;
	text-indent: 20px;
} 

a.cool222222:active {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	display: block;
	text-indent: 20px;
} 

a.cool222222:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #FFFFFF;
	background-color:#5F7DA0;
	width:140px;
	padding-top: 6px;
	display: block;
	text-indent: 20px;
}






a.nele:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	text-align: left;
} 

a.nele:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:underline;
	color: #1E6095;
	letter-spacing: normal;
}





a.nele1:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	text-align: left;
} 

a.nele1:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele1:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele1:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration:underline;
	color: #1E6095;
	letter-spacing: normal;
}






 a {
	color:#FFFFFF;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	text-decoration:none;
	margin:0px;
	border-top: 0px none;
	border-right: 0px none;
	border-bottom: 0px none;
	border-left: 0px none;
      }


a.cool111:link {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #3F548D;
	background-color:#C2CCE4;
	width:140px;
	text-indent: 30px;
	display: block;
} 
a.cool111:visited {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #3F548D;
	background-color:#C2CCE4;
	width:140px;
	text-indent: 30px;
	display: block;
} 

a.cool111:active {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #3F548D;
	background-color:#C2CCE4;
	width:140px;
	text-indent: 30px;
	display: block;
} 

a.cool111:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #000000;
	background-color:#C2CCE4;
	width:140px;
	padding-top: 6px;
	text-indent: 30px;
	display: block;
}






a.cool007:link {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#4D6582;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool007:visited {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#4D6582;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool007:active {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#4D6582;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.cool007:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #FFFFFF;
	background-color:#5F7DA0;
	width:140px;
	padding-top: 6px;
	text-indent: 20px;
	display: block;
}



a.rechts:link {
	padding: 6px;
	text-decoration: none;
	border-bottom: 1px solid #999999;
	float: right;
	clear: right;
} 

a.rechts:visited {
	padding: 6px;
	text-decoration: none;
	border-bottom: 1px solid #999999;
	float: right;
	clear: right;
} 

a.rechts:active {
	padding: 6px;
	text-decoration: none;
	border-bottom: 1px solid #999999;
	float: right;
	clear: right;
} 

a.rechts:hover {
	padding: 6px;
	text-decoration: none;
	border-bottom: 1px solid #999999;
	float: right;
	clear: right;
}



a.coollos:link {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#638BB4;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.coollos:visited {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#638BB4;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.coollos:active {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#638BB4;
	width:140px;
	text-indent: 20px;
	display: block;
} 

a.coollos:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #FFFFFF;
	background-color:#638BB4;
	width:140px;
	padding-top: 6px;
	text-indent: 20px;
	display: block;
}





a.los1:link {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	display: block;
} 

a.los1:visited {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	display: block;
} 

a.los1:active {
	font-family:Arial, Helvetica, sans-serif;
	padding: 6px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	background-color:#2E465F;
	width:140px;
	display: block;
} 

a.los1:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:none;
	color: #FFFFFF;
	background-color:#F83A3F;
	width:140px;
	padding-top: 6px;
	display: block;
}



a.coolIT:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: none;
	color: #3F548D;
} 

a.coolIT:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: none;
	color: #3F548D;
} 

a.coolIT:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: none;
	color: #3F548D;
} 

a.coolIT:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: none;
	color: #3F548D;
}



a.nele100:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	text-align: left;
} 

a.nele100:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele100:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele100:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration:underline;
	color: #1E6095;
	letter-spacing: normal;
}



a.nele17:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	text-align: left;
	line-height: 24px;
} 

a.nele17:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
	line-height: 24px;
} 

a.nele17:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
	line-height: 24px;
} 

a.nele17:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:underline;
	color: #1E6095;
	letter-spacing: normal;
	line-height: 24px;
}




a.nele97:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	left: 0px;
} 

a.nele97:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
	left: 0px;
} 

a.nele97:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
	left: 0px;
} 

a.nele97:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:underline;
	color: #1E6095;
	letter-spacing: normal;
	left: 0px;
}




a.neles:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	text-align: left;
	text-indent: 7px;
	display: block;
} 

a.neles:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
	text-indent: 7px;
	display: block;
} 

a.neles:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
	text-indent: 7px;
	display: block;
} 

a.neles:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration:underline;
	color: #1E6095;
	letter-spacing: normal;
	text-indent: 7px;
	text-align: left;
	display: block;
}


.Stil25 {
	font-size: 15px;
	font-weight: bold;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #333333;
}

.Stil2300 {
	font-size: 14px;
	color: #333333;
	font-weight: bold;
	padding-top: 2px;
}



a.nele13:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	text-align: left;
} 

a.nele13:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele13:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele13:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration:underline;
	color: #1E6095;
	letter-spacing: normal;
}


a.nele2:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px #999999;
	color: #333333;
	background-color:#ffffff;
	text-align: left;
} 

a.nele2:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #333333;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele2:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #333333;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele2:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #1E6095;
	letter-spacing: normal;
}


a.nele2:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px #999999;
	color: #333333;
	background-color:#ffffff;
	text-align: left;
} 

a.nele2:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #333333;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele2:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #333333;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele2:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #1E6095;
	letter-spacing: normal;
}






a.nele3:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	text-align: left;
} 

a.nele3:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele3:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele3:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	letter-spacing: normal;
}




a.nele4:link {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	text-align: left;
} 

a.nele4:visited {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele4:active {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	text-align: left;
	border-bottom: 1px #999999;
	color: #1E6095;
	background-color:#ffffff;
	letter-spacing: normal;
} 

a.nele4:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #333333;
	letter-spacing: normal;
}